RewriteEngine On

# Interdire l'accès direct aux répertoires contenant du code
RewriteRule ^src(/.*|)$ - [NC,F]

# Réécriture des URL pour Slim
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]